/*imdb-style*/
.star-box-giga-star {
  background-position: -180px -71px;
  width: 66px;
  height: 66px;
  line-height: 66px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  color: black;
  font-family: tahoma;
}

.imdb-icon {
  background-image: url('../img/imdbSprite.png');
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

/*tomato-style*/
.tomato-icon {
  display: inline-block;
  vertical-align: text-bottom;
  background: transparent url('../img/tomatoSprite.png') no-repeat -312px -160px;
}

.med.rotten {
  background-position: -96px -129px;
}

.med.fresh {
  background-position: -64px -129px;
}

.tomato-icon.med {
  width: 32px;
  height: 32px;
}

.tomato-score {
  vertical-align: 7px;
}

.tomato-wrapper {
  padding-left:11px;
}

/*netflix-style*/
.label {
    margin-bottom: 15px !important;
}

.rating-link {
  text-decoration:none !important;
  color:black !important;
  padding:5px;
  padding-left: 0px;
}

.dvd-popup {
  margin-bottom: -15px;
  margin-top: -29px;
  margin-left: 74px;
}

.dvd-search-page {
  margin-bottom: 10px;
  margin-top: -6px;
  margin-left: 0px;
}

.wi-search-page {
  margin-bottom: -4px;
  margin-top: -30px;
  margin-left: 13px;
}

.nav-timers .boxShot {
  width: 48px !important;
  height: auto;
  display: inline-block;
  margin-right: 2px;
}

.nav-timers .boxShot img {
  width: 48px !important;
  height: auto;
}

.nav-timers .boxShot a {
  width: 48px !important;
  height: auto !important;
}

.timer-hidden {
  display: none;
}

.showdown-link {
  color: purple !important;
  font-size: 20px;
  float: right;
}



.showdown {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 155px;
  z-index: 209;
  height: 70px;
  background-color: #7602D2; /*#b9090b;*/

}

.timers {
  /*width: 100%;*/
}

.timers li {
  /*width: 33%;*/
  float: left;
  /*position: relative;*/
}

.showdown .selected {
  float: left;
}

.showdown .boxShot {
  border: 1px solid #a4a4a4;
}

.showdown .selected .boxShot, .showdown .selected .boxShotImg, .showdown .selected .bobbable {
  height: 68px !important;
  width: auto !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 207;
  background-color: #000;
  opacity: 0.5;
  /*filter: alpha(opacity=50);*/
}

.showdown-modal {
  width: 565px;
  height: 366px;
  top: 110px;
  left: 50%;
  margin-left: -282px;
  background-color: #fff;
  /*background-color: #7602D2;*/
  /*background-color: #e1e1e1;*/
  border: 1px black solid;
  padding-left: 10px;
  padding-right: 10px;
  /*padding-top: 20px;*/
}

.showdown .finalist {
  float: left;
}

.modal-timer {
  display: inline-block;
  width: 585px;
  background-color: #7602D2;
  height: 84px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
}

.modal-timer p {
  float: left;
  font-size: 39px;
  padding-left: 20px;
  color: #fff;
}

.modal-timer div {
  float: right;
  padding-right: 64px;
  padding-top: 5px;
}

.modal-finalists {
  /*max-width: 90%;*/
  margin-right: auto;
  margin-left: auto;
}

.winner-chosen {
  opacity: 0.2;
}

.showdown-winner {
  opacity: 1;
}

.showdown-modal .boxShot {
  display: inline-block;
  margin: 10px;
}

.add-btn {
  float: right;
  color: #7602D2;
  font-size: 62px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  line-height: 0.9;
}

.sd span.boxShot-197 a.playLink:hover, .sd span.boxShot-197 a.playLinkNotBobbable:hover, .sd span.boxShot-197.active > a.playLink, .sd span.boxShot-197.active > a.playLinkNotBobbable, .sd span.boxShot-166 a.playLink:hover, .sd span.boxShot-166 a.playLinkNotBobbable:hover, .sd span.boxShot-166.active > a.playLink, .sd span.boxShot-166.active > a.playLinkNotBobbable, .sd span.boxShot-150 a.playLink:hover, .sd span.boxShot-150 a.playLinkNotBobbable:hover, .sd span.boxShot-150.active > a.playLink, .sd span.boxShot-150.active > a.playLinkNotBobbable {
  background-image: url("../img/showdown-add.png");
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}